.background-color {
  background-color: #eeeeee;
}
.form {
  background-color: #fff9ee;
  box-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.3);
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}
table th:first-child {
  border-radius: 5px 0 0 0;
}
table th:last-child {
  border-radius: 0 5px 0 0;
  border-right: 1px solid #ff9933;
}
table th {
  text-align: center;
  color: white;
  background: linear-gradient(#ffcc33, #ff6633);
  border-left: 1px solid #ff9933;
  border-top: 1px solid #ff9933;
  border-bottom: 1px solid #ff9933;
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset;
  width: 25%;
  padding: 10px 0;
}
table td {
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top: none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  width: 25%;
  padding: 10px 0;
  color: rgb(75, 75, 75);
}
table td:last-child {
  border-right: 1px solid #a8b7c5;
}
table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}
table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}
.button_container {
  display: flex;
  justify-content: center;
}
